@{
    ViewBag.Title = "Mono";
}

<div class="jumbotron">
    <h1>Vehicle Web application</h1>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Models", "Index", "VehicleModel")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Makes", "Index", "VehicleMake")</h2>
    </div>

</div>